{% extends "base.html" %}
{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-lg-8">

            <div class="card shadow-lg border-0">
                
                
                <div class="card-header bg-dark text-white">
                    <h4 class="mb-0">🎟 Book Ticket</h4>
                </div>


        
                        <!-- Button -->
                       <form method="POST">
                        {% csrf_token %}

                        {{ form.as_p }}

                        <button type="submit" class="btn btn-success">
                            Confirm Booking
                        </button>
                    </form>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}